.tab-content {
    background: white;
    padding: 1em;
    min-height: 150px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    margin-top: -7px;
    margin-bottom: 100px;
}
.nav-tabs {
    gap: 30px;
}
.nav-tabs .nav-link {
    color: $color-primary;

}

.nav-tabs .nav-link :active {
    color: #D1D1D1;

}

.nav-tabs .nav-link.active,

.nav-tabs .nav-item.show .nav-link {
    background-color: white;
    border-color: white;
    border-radius: 12px 12px 0 0;
}

div .col {
    padding-left: 10px;
}

.social_media {
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 16px;
}

.fa-facebook-f {
    margin-right: 8px;
    margin-left: 8px;
}